html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato, 'sans-serif';
  background-image: url(../public/images/toveStyrke.jpg);
  background-size: 100% auto;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

*{
  outline: none;
}

a{
  cursor: pointer;
}

.application{
  margin: 0;
  margin-top: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.appContainer{
  padding: 0 12%;
  flex: 1 0 auto;
  display: flex;
}

.playlistInfo{
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  align-items: center;
}

.playlistInfo img{
  height: 275px;
  width: 275px;
  box-shadow: 2px 2px 10px 0px rgba(50,50,50,1);
}

.playlistName{
  color: white;
  font-weight: 400;
  margin: 15px 0;
  font-size: 18px;
}

.playlistSection .playlistName{
  flex: 1 1 auto;
}

.playlistInfo .bigSoundcloudBtn{
  background-color: rgba(106,112,127, .9);
  color: white;
  height: 32px;
  width: 165px;
  border-radius: 15px;
  border: 1px solid orange;
}

.playlistSection{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 490px;
  margin-left: 25%;
  margin-top: 75px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 10px 0px rgba(50,50,50,1);
  background: rgb(245, 247, 247)
}

.playlistSection .playlist{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.playlistSection .playlistNameSection{
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex: 0 0 60px;
  background-color: rgba(106,112,127, .9);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.item{
  display: flex;
  flex: 0 0 50px;
  background: white;
  padding: 0 5px;
  align-items: center;

}

.item .reorderBtn{
  background-image: url(../public/images/reorder.svg);
}

.clickable{
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.item *{
  margin: 0 5px;
}

.item .clickable img{
  height: 40px;
  width: 40px;
}

.item .clickable .songNameText{
  color: black;
  font-size: 14px;
  margin-right: 0;
}

.item .clickable .authorNameText{
  color: black;
  font-size: 13px;
  margin-right: 0;
}

.btn{
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
}

.menu{
  margin-left: auto;
}

.menu .dd-menu-items{
  margin: 0;
  position: absolute;
  right: 50px;
  background: white;
  box-shadow: 1px 1px 5px 0px rgba(50,50,50,1);
}

ul, .dd-items-left{
  margin: 0;
  padding: 0;
}

.dropdownItem:hover{
  background: rgb(241, 241, 241);
}

.dropdownItem{
  padding: 0;
  margin: 4px 0;
  height: 28px;
  width: 150px;
  list-style: none;
  text-align: center;
}

.dropdownItem a{
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.moreBtn{
  background-image: url(../public/images/more.svg);
}

.bottomPlayer{
  display: flex;
  padding: 0 12%;
  flex: 0 0 60px;
  background-color: rgba(106,112,127, .9);
  align-items: center;
}

.bottomPlayer img{
  width: 50px;
  height: 50px;
  box-shadow: 2px 2px 10px 0px rgba(50,50,50,1);
}

.bottomPlayer .controlBtns{
  margin-right: 12%;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.bottomPlayer .controlBtns *{
  margin: 0 5px;
}

.bottomPlayer .controlBtns .smallBtns{
  height: 25px;
  width: 25px;
}

.bottomPlayer .controlBtns .bigBtns{
  height: 35px;
  width: 35px;
}

.bottomPlayer .controlBtns .volumeBtn{
  background: url(../public/images/volume.svg);
  background-size: 25px 25px
}

.bottomPlayer .controlBtns .shuffleBtn{
  background: url(../public/images/shuffle.svg);
  background-size: 25px 25px
}

.bottomPlayer .controlBtns .prevBtn{
  background: url(../public/images/prev.svg);
  background-size: 35px 35px
}

.bottomPlayer .controlBtns .playBtn{
  background: url(../public/images/play.svg);
  background-size: 35px 35px
}

.bottomPlayer .controlBtns .pauseBtn{
  background: url(../public/images/pause.svg);
  background-size: 35px 35px
}

.bottomPlayer .controlBtns .nextBtn{
  background: url(../public/images/next.svg);
  background-size: 35px 35px
}

.currentSong{
  background: green
}

.songNameText{
  margin: 0 7px;
  color: white;
  font-size: 16px;
}

.authorNameText{
  color: whitesmoke;
  font-weight: 300;
  font-size: 15px;
}

.playlistBtn{
  background-image: url(../public/images/moreB.svg);
  height: 25px;
  width: 25px;
  background-size: 25px 25px;
}
